* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    background-color: rgb(27, 26, 26);
}

a {
    text-decoration: none;
    color: white;
}

.container,
.header,
.sidebar,
.content {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 225px 4fr;
}

.sidebar {
    grid-row: 1/3;
    background-color: rgb(0, 138, 202);
    display: flex;
    flex-direction: column;
    gap: 55px;
    font-size: 30px;
    font-weight: bold;
    padding: 1em;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.sidebar>div {
    font-size: 40px;
}


.sidebar>ul>li {
    margin-bottom: 30px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

ul {
    padding-left: 15px;
}

ul>li {
    display: flex;
    align-items: center;
    gap: 30px;
}

img {
    display: inline-block;
    object-fit: contain;
    height: 32px;
}

.dashboard img {
    height: 60px;
}

.header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1em 4em 0 4em;
    box-shadow: 0px 6px 5px rgba(87, 87, 87, 0.185);
    z-index: 2;
}

.up-head,
.down-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up-head {
    gap: 30px;
}

.up-right,
.up-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.up-right {
    gap: 40px;
}

.up-right p {
    font-size: 27px;
    font-weight: bold;
    padding-right: 25px;
    text-wrap: nowrap;
}

.up-right button,
.up-left button {
    background-color: transparent;
    border: none;
}

.up-right button,
#btn-ntf {
    height: 34px;
    width: 34px;
}

#header-img1 {
    height: 60px;
}

.up-left button,
#btn-search {
    height: 33px;
    width: 33px;
}

.up-left button,
.up-right button:hover {
    cursor: pointer;
}

.up-left input {
    width: 800px;
    height: 42px;
    font-size: large;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: rgb(219, 227, 235);
}

.up-left input:focus {
    outline: 1.5px solid rgb(149, 178, 241);
}


.down-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.down-left p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    align-self: end;
}

#header-img2 {
    height: 90px;
    grid-row: 1/3;
    justify-self: center;
}

.down-right {
    display: flex;
    gap: 45px;
}

#btns-head {
    padding: 12px 36px;
    background-color: rgb(7, 141, 219);
    color: white;
    border: none;
    border-radius: 37px;
    font-size: 22px;
    font-weight: bold;
}

#btns-head:hover {
    cursor: pointer;
    background-color: rgb(7, 124, 192);
}

.content {
    background-color: rgb(219, 227, 235);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding: 50px 45px 80px 40px;
}

.content-p {
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}

.content-p>p,
.content-a>p,
.content-t>p {
    font-size: 25px;
    font-weight: bold;
}

.projects>div,
.content-a>div,
.content-t>div {
    background-color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 5px 6px 4px rgba(102, 102, 102, 0.178);
}

.content-a,
.content-t,
.content-p {
    display: grid;
    grid-template-rows: 45px 1fr;
}


.card {
    position: relative;
    overflow: hidden;
    padding: 40px 50px 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text>h2 {
    font-size: 25px;
}

.card-text>p {
    font-size: 22px;
    margin-top: 5px;
    color: rgb(99, 98, 98);
    line-height: 1.1;
}

.line {
    height: 100%;
    width: 2%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: 0;
}

.card-img {
    display: flex;
    align-self: end;
    gap: 35px;
}

.card-img>button {
    background-color: transparent;
    border: none;
}

.card-img>button:hover {
    cursor: pointer;
}

.announcements {
    padding: 40px 45px 40px 45px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ann-text {
    padding: 25px 0;
    border-bottom: 1px rgb(182, 181, 181) solid;
}

.ann-text:first-child {
    padding-top: 0;
}

.ann-text:last-child {
    padding-bottom: 0;
    border: none;
}

.ann-text>p {
    font-size: 17px;
    color: rgb(99, 98, 98);
}

.ann-text>h3 {
    margin-bottom: 3px;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    padding: 20px;

}

.trend-icon {
    place-self: center;
    height: 65px;
}

.trend-text p:first-child {
    font-weight: bold;
    font-size: 19px;
}

.trend-text p:last-child {
    font-size: 18px;
    color: rgb(99, 98, 98);
}